<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

	<?define KryptonToolkitDemosSource=$(sys.SOURCEFILEDIR)..\..\..\Standard-Toolkit\Bin\Release\net80?>

	<Fragment>

		<DirectoryRef Id="KryptonToolkitDemosDir" />


		<util:CloseApplication CloseMessage="yes" Id="CloseKryptonToolkitDemosApp" Target="Krypton Explorer.exe" RebootPrompt="no" />

		<ComponentGroup Id="KryptonToolkitDemos">
			<!--<Component >
                <File Source="$(var.KryptonToolkitDemosSource)\Krypton.Toolkit.dll" KeyPath="yes" />
            </Component>-->

		</ComponentGroup>
	</Fragment>
</Wix>
