<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

    <?define KryptonToolkitDemosSource=$(sys.SOURCEFILEDIR)..\..\..\Standard-Toolkit\Bin\Release\net48?>

    <Fragment>

        <DirectoryRef Id="KryptonToolkitDemosDir" />
        

        <util:CloseApplication CloseMessage="yes" Id="CloseKryptonToolkitDemosApp" Target="Krypton Explorer.exe" RebootPrompt="no"/>

        <ComponentGroup Id="KryptonToolkitDemos">
            <!--<Component >
                <File Source="$(var.KryptonToolkitDemosSource)\Krypton.Toolkit.dll" KeyPath="yes" />
            </Component>-->

        </ComponentGroup>
        </Fragment>
</Wix>
