<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- do not change this ever !-->
    <?define UpgradeCode = "38FC3474-F06B-4C57-8869-15B23AEBFB60" ?>

    <?define Version = "80.22.11.325" ?>
    <!--"!(bind.FileVersion.Krypton.Toolkit.dll)" -->

    <?define ProductName = "Krypton Toolkit Demo Net70 Apps"?>

    <Product
        Version="$(var.Version)"
        Id="*"
        UpgradeCode="$(var.UpgradeCode)"
        Name="$(var.ProductName)"
        Language="1033"
        Manufacturer="https://lloydsregistergroup.visualstudio.com/Ocelot/_wiki/wikis/Wiki/1582/The-Ocelot-(aka-3D-Plan-Approval-POC)-Wiki" >

        <Package Id="*" Keywords='Installer'
                 InstallScope='perUser'
                 Description="$(var.ProductName)"
                 Comments=" Version: $(var.Version)"
                 InstallerVersion="500"
                 Compressed="yes"
                 AdminImage="no" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

        <!-- +++++++++++++++++++++++++++ Advertised shortcuts will not produce ICE errors, but will be converted to non-advertised shortcuts when installed -->
        <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

        <!-- This property enables verbose logging in WiX custom actions. It writes extra entries to the MSI log. -->
        <Property Id="LOGVERBOSE" Value="1"/>

        <InstallExecuteSequence>
            <!-- This disables removing shortcuts except on uninstall. -->
            <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
        </InstallExecuteSequence>

        <!--Allow 7z / zip compression to squeeze this tighter 
        high = 6.9MB -> 6.4mb  as 7z
        none = 24.9 -> 2.8mb as 7z        -->
        <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuDir" Name="Krypton Toolkit Demos"/>
            </Directory>
            <Directory Id="CommonAppDataFolder">
                <Directory Id="KryptonToolkitDemosDir" Name="Krypton Toolkit Demos Net60" />
            </Directory>
        </Directory>

        <DirectoryRef Id="ProgramMenuDir">
            <Component Id="ProgramMenuDir2" Guid="11234567-7E98-44CE-B049-C477CC0A2B01">
                <Shortcut Id="KryptonToolkitDemos_Shortcut" Name="Krypton Toolkit Demos" Description="Krypton Toolkit Demos Launch Application"
                          Target="[KryptonToolkitDemosDir]\Krypton Explorer.exe"
                          WorkingDirectory="KryptonToolkitDemosDir"
                          IconIndex="0" />
                <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Microsoft\KryptonToolkitDemos_Shortcut" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature Id="ProductFeature" Title="KryptonToolkitDemos_Setup" Level="1">
            <ComponentGroupRef Id="KryptonToolkitDemos" />
            <ComponentGroupRef Id="BasePath60" />
            <ComponentRef Id='ProgramMenuDir2'/>
        </Feature>

        <!-- Get the install to skip a few steps -->
        <Property Id="WIXUI_INSTALLDIR" Value="KryptonToolkitDemosDir" />
        <UIRef Id="WixUI_InstallDir" />

        <UIRef Id="WixUI_ErrorProgressText" />


    </Product>

</Wix>
