<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<!-- do not change this ever !-->
	<?define UpgradeCode = "38FC3474-F06B-4C57-8869-15B23AEBFB60" ?>

	<?define Version = "80.22.11.325" ?>
	<!--"!(bind.FileVersion.Krypton.Toolkit.dll)" -->

	<?define ProductName = "Krypton Toolkit Demo Net60 Apps"?>

	<Package Version="$(var.Version)" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductName)" Language="1033" Manufacturer="https://github.com/Krypton-Suite" Scope="perUser">
		<SummaryInformation Keywords="Installer" Description="$(var.ProductName)" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

		<!-- +++++++++++++++++++++++++++ Advertised shortcuts will not produce ICE errors, but will be converted to non-advertised shortcuts when installed -->
		<Property Id="DISABLEADVTSHORTCUTS" Value="1" />

		<!-- This property enables verbose logging in WiX custom actions. It writes extra entries to the MSI log. -->
		<Property Id="LOGVERBOSE" Value="1" />

		<InstallExecuteSequence>
			<!-- This disables removing shortcuts except on uninstall. -->
			<RemoveShortcuts Condition="Installed AND NOT UPGRADINGPRODUCTCODE" />
		</InstallExecuteSequence>

		<!--Allow 7z / zip compression to squeeze this tighter 
        high = 6.9MB -> 6.4mb  as 7z
        none = 24.9 -> 2.8mb as 7z        -->
		<Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" CompressionLevel="high" />



		<DirectoryRef Id="ProgramMenuDir">
			<Component Id="ProgramMenuDir2" Guid="11234567-7E98-44CE-B049-C477CC0A2B01">
				<Shortcut Id="KryptonToolkitDemos_Shortcut" Name="Krypton Toolkit Demos" Description="Krypton Toolkit Demos Launch Application" Target="[KryptonToolkitDemosDir]\Krypton Explorer.exe" WorkingDirectory="KryptonToolkitDemosDir" IconIndex="0" />
				<RemoveFolder Id="ProgramMenuDir" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Microsoft\KryptonToolkitDemos_Shortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Feature Id="ProductFeature" Title="KryptonToolkitDemos_Setup" Level="1">
			<ComponentGroupRef Id="KryptonToolkitDemos" />
			<ComponentGroupRef Id="BasePath60" />
			<ComponentRef Id="ProgramMenuDir2" />
		</Feature>

		<!-- Get the install to skip a few steps -->
		<Property Id="WIXUI_INSTALLDIR" Value="KryptonToolkitDemosDir" />
		<ui:WixUI Id="WixUI_InstallDir" />

		<UIRef Id="WixUI_ErrorProgressText" />



		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ProgramMenuDir" Name="Krypton Toolkit Demos" />
		</StandardDirectory>
		<StandardDirectory Id="CommonAppDataFolder">
			<Directory Id="KryptonToolkitDemosDir" Name="Krypton Toolkit Demos Net60" />
		</StandardDirectory>
	</Package>

</Wix>
