
[PlatformInvoke.cs]
#Message	CA1069	The enum member 'LINELEFT' has the same constant value '0' as member 'LINEUP'
dotnet_diagnostic.CA1069.severity = None

[*.cs]
# Sort System.* using directives alphabetically, and place them before other using directives
dotnet_sort_system_directives_first = true
#Place a blank line between using directive groups.
dotnet_separate_import_directive_groups = true
dotnet_code_quality.enable_platform_analyzer_on_pre_net5_target=true

#	Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = silent
# Use primary constructor
dotnet_diagnostic.IDE0290.severity = silent
# 	Naming rule violation: These words must begin with upper case characters: textBoxResponse_KeyDown
dotnet_diagnostic.IDE1006.severity = silent

# This call site is reachable on all platforms. 'KryptonRibbonGroupButton.Checked' is only supported on: 'Windows' 7.0 and later.
dotnet_diagnostic.CA1416.severity = None
# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

# Nullability of reference types in type of parameter 'sender' of ####
dotnet_diagnostic.CS8622.severity = Warning

dotnet_diagnostic.WFO1000.severity = Warning
